
<div class="container" >
    <h1>Photo Home Page</h1>
    <p> 
        Use the navigation bar above to submit new photos or explore the gallery
        using an authorized account!    
    </p>


</div>
